body{
    background-color: black;

}
head{
    background-color:black
}
<<<<<<< HEAD
.button {
    background-color: beige;
    color:blueviolet;
}
.button:hover{
    background-color: black;
}
=======
>>>>>>> branch1
